{% load trip_extras %}
<br>
<div>
	<button id="createActivityButton" type="button" class="btn btn-primary btn-small">Create Activity</button>
</div>
<br>
{% for date in dates %}
	<button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="collapse" data-target="#my{{date|date:"Y-m-d"}}Activities">
		Day {{ forloop.counter}}: {{ date }} <span class="glyphicon glyphicon-collapse-down"></span></button>
	<br>
	<div id="my{{ date|date:"Y-m-d" }}Activities" class="collapse in">
		{% if date in activities %}
			{% for activity in activities|lookup:date %}
				{% include "trip/activity_summary2.html" with name=activity.name address=activity.address description=activity.description  id=activity.id start_time=activity.start_time activity_category_icon=activity_category_icons|lookup:activity.category%}
			{% empty %}
				<div id="no{{ date|date:"Y-m-d" }}Activities">
					No Activities for this day
				</div>
				<br>
			{% endfor %}
		{% endif %}
	</div>
{% endfor %}

	