<p>
	<a class="prev_activity_summary" data-activity-id="{{activity_id}}" href="#"><small><span class="glyphicon glyphicon-chevron-left"></span> Back</small>
	</a>
</p>
<h4><strong><span class="glyphicon glyphicon-star"></span>  Review This Activity</strong></h4>
<hr>
<form class="form-horizontal">
	<div class="form-group">
		<div class="star">
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">
			<textarea class="form-control" name="review" rows="1" placeholder="Add a Review"></textarea>
		</div>
	</div>
</form>
<div class="pull-right">
	<p>
		 <button class="btn btn-primary">Save</button>
	</p>
</div>