{% extends "trip/base.html" %}
{% load staticfiles %}
{% block title %}Welcome Home!{% endblock %}

{% block content %}


	{% include "googlemaps/places_info_window.html" %}
	{% include "trip/create_activity.html"%}
	<input type="hidden" id="id_slug" value="{{ trip.slug }}" />

<div class="container">	
	<div class="jumbotron">
	      <div class="container">
	        <h2>{{trip.name}}</h2>
	        <p>{{trip.start_date}}-{{trip.end_date}}</p>
	        <p>
	        	<small>Participants:</small>
	        	<img src="{{user_profile.picture.data.url}}">
	        	{% for friend_participant_profile in friend_participants_profiles %}
	        		<img src="{{friend_participant_profile.picture.data.url}}">
	        	{% endfor %}
	        </p>
	      </div>
	</div>


	<div class="row">
	  <div class="col-lg-3">
	  	<div class="well sidebar-nav">
			<ul class="nav nav-pills nav-stacked">
				<li class="active"><a href="#itinerary" data-toggle="pill"><span class="glyphicon glyphicon-calendar"></span>  Itinerary</a></li>
				<li><a href="#tasks" data-toggle="pill"><span class="glyphicon glyphicon-tasks"></span>  Tasks</a></li>
				<li><a href="#" data-toggle="pill"><span class="glyphicon glyphicon-pencil"></span>  Surveys</a></li>
				<li><a href="#" data-toggle="pill"><span class="glyphicon glyphicon-usd"></span>  Costs</a></li>
				<li><a href="#" data-toggle="pill"><span class="glyphicon glyphicon-picture"></span>  Photo Album</a></li>
				<li><a href="#invite" data-toggle="pill"><span class="glyphicon glyphicon-user"></span>  Invite Friends</a></li>
			</ul>
		</div>
	  </div>
	  
	  <div class="tab-content">
	  	<!--Content of Itinerary Tab-->
	  	<div class="tab-pane active" id="itinerary">
	  		{% include "trip/itinerary.html" with activities=activities dates=dates activity_category_icons=activity_category_icons%}
	  	</div>
	  	<!--Content of Tasks Tab-->
	  	<div class="tab-pane" id="tasks">
	  		<div class="col-lg-5">
	  			{% include "tasks/tasks.html" with tasks=tasks trip_participants=trip_participants%}
	  		</div>
	  	</div>
	  	<!--Content of Invite Tab-->
	  	<div class="tab-pane" id="invite">
	  		{% include "invite/invite.html" with user_list=user_list trip_participants=trip_participants%}
	  	</div>
	  </div>
	  <div class="col-lg-4">
		  		{% include "googlemaps/map.html" %}
	  </div>
	</div>
</div>


{% endblock %}
 
 
 
 
 